{% load ts_filters %}

<a href="{{ band_url }}" class="cpd-band cpd-band--{{ band_tone|default:'info' }}">
  <span class="cpd-band__dot" aria-hidden="true"></span>

  <span class="cpd-band__body">
    <span class="cpd-band__title">{{ band_title }}</span>

    {% if band_desc %}
      <span class="cpd-band__desc">{{ band_desc }}</span>
    {% endif %}
  </span>

  {% if band_meta %}
    <span class="cpd-band__meta">{{ band_meta }}</span>
  {% endif %}

  <span class="cpd-band__chev" aria-hidden="true">
    {% ts_icon "chevron-right" %}
  </span>
</a>